<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/main_container.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/title.css}">
    <link rel="stylesheet" th:href="@{/css/form_message.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;WebhookTrading&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;WebhookTrading&nbsp;</span>
    </button>
</header>

<body>

    <div class="background"></div>
    <main class="main-container">
        <div class="form-container">
            <div class="form-heading">Login</div>
                <form action="" id="login-form" class="form-template">
                    <input required="" class="form-input" type="email" name="email" id="email" placeholder="Email">
                    <input required="" class="form-input" type="password" name="password" id="password" placeholder="Password">
                    <button class="form-button btn" type="submit">Submit</button>
                    <div class="form-question">Not a member? <a th:href="@{/register}">Sign Up!</a></div>
                    <div id="error-message" style="color:red; display:none;"><p class="error-message-text" id="error-text"></p></div>
                </form>
            </div>
        </div>
    </main>

<script th:src="@{/js/login.js}"></script>
</body>
</html>
